$font-stack-title: 'Playfair Display', 'Times New Roman', Times, serif;
$font-stack-body: 'Merriweather', Georgia, serif;
// $font-stack-body: 'Source Sans Pro', Arial, sans-serif;//'Roboto', Arial, sans-serif;
$font-stack-small: 'Roboto', Arial, sans-serif;

$colour-dark-grey: #333;
$colour-pink: #E80057;
$colour-blue: #009EE8;

$colour-calendar-green: #B3E88F;
$colour-calendar-yellow: #FFDC61;
$colour-calendar-red: #FF6161;

$colour-invalid-red: #f44336;
$colour-valid-green: #4caf50;

$section-light-bg: white;
$section-dark-bg: #F8F8F8;